name: Test

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - run: pip install -r requirements-test.txt
    - run: coverage run --append ./l10n_slovnik file.tmx
    - run: coverage run --append ./l10n_slovnik file.tbx
    - run: coverage run --append ./l10n_slovnik || true
    - run: coverage run --append ./l10n_slovnik invalid || true
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
